<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="w-full max-w-sm bg-white p-8 rounded-2xl shadow-lg">
      <h1 class="text-2xl font-bold mb-6 text-center">Login</h1>
      <form class="space-y-4">
        <input
          id = "email"
          name = "email"
          type="email"
          placeholder="Email"
          class="w-full p-3 border rounded-xl focus:outline-none focus:ring focus:ring-blue-400"
          required
        />
        <input
          id = "password"
          name = "password"
          type="password"
          placeholder="Password"
          class="w-full p-3 border rounded-xl focus:outline-none focus:ring focus:ring-blue-400"
          required
        />
        <button
          id="loginBtn"
          type="submit"
          class="w-full bg-blue-500 text-white p-3 rounded-xl hover:bg-blue-600"
        >
          Login
        </button>
      </form>
      <p class="text-center mt-4 text-sm">
        Don't have an account?
        <a href="register" class="text-blue-500 hover:underline">Register</a>
      </p>
    </div>
     <script src="/static/js/login.js"></script>
  </body>
</html>
